<ul>
    <li>Firma:{{#if firma}}{{firma}} {{else}} keine firma {{/if}}</li>
    <li>Position:{{#if position}}{{position}} {{else}} keine position {{/if}}</li>
    <li>Von-Bis :{{von}} - {{bis}}</li>
    
</ul>